<!-- Audit log page -->

{% extends "_base.htm" %}

{% block title %}
    AUDIT
{% endblock %}

{% block pageblock %}

<!-- Back button -->
    <div id="up">
        <br>
        <button onclick="history.back()" style="margin: 5px;">Go Back</button>
        <h1>Audit Log</h1>
    </div>
    
<!-- Log displayed as a table -->
    <div id="content">
        <h2>Simulation History</h2>
        <table style="text-align: center;">
            {% for row in audit_list %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    <div>
{% endblock %}
