{% extends "_base.htm" %}

{% block title %}
	Page 1
{% endblock %}

{% block pageblock %}

	<div id="up" style="text-align: right;">
		<h3><a href="index.htm">back to first page</a><br/></h3>
	</div>


	<div id="up">
		<h2>MPs in Parliament : <br/><br/></h2>
		<h3>Using Image Charts - 3d (p3) falls back to 2d</h3>
		<img src="https://image-charts.com/chart?cht=p3&chd=a:{{ data }}&chs=250x100&chl=Lab|Con&chco=FF2027,FFFF10"
		classed="displayed" alt="Graph: no internet connection." align="center" /><br/><br/>
		<h3>Using deprecated Google Charts</h3>
		<img src="http://chart.apis.google.com/chart?cht=p3&chd=t:{{ data }}&chs=250x100&chl=Lab|Con"
		classed="displayed" alt="Graph: no internet connection." align="center" /><br/><br/>
		
	</div>

{% endblock %}



