
<div id="down">
<h3>Choose options to initialize the system</h3>
<form id="initform" method="post" action="/initialize">
<label for="select_service">Select type of scalable service (S):</label>
<select id="select_service" name="select_service">
<option value="lambda">Lambda</option>
<option value="ec2">EC2</option>
</select>
<br><br>
<label for="num_r">Enter number of resources (R):</label>
<input type="number" id="num_r" name="num_r" required>
    {% if note %}
<span id="note">
        {{ note }}
</span>
    {% endif %}
<br><br>
<input type="submit" value="Initialize">
<input type="button" value="Reset" onclick="window.location='/';">
    {% if initnote %}
<span id="initnote" style="color: white; background-color: #12c99b; padding: 5px; font-weight: 600;">
      &#10003; {{ initnote }}
</span>
    {% endif %}
<br>
</form>


</div>


